@import "tailwindcss";

@theme{
    --container-xl:85rem;
    --color-primary:var(--primary);
    --color-background:var(--background);
}
:root{
    --primary:oklch(0.5635 0.2408 260.82);
    --background:oklch(0.971 0.0059 239.82);
}